<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="../app/app.component.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

  <title>MY CV APP</title>
</head>

<body>
<div class="wrapper">
  <div class="resume-design">
    <div class="resume_left">
      <div class="about_sec">
        <div class="button">About Me</div>
        <p>Experienced software developer with a versatile skill set encompassing front-end and back-end technologies.
          Proficient in React for building
          interactive and responsive user interfaces, C# for robust backend development, and Node.js for scalable
          server-side applications. Adept at
          crafting well-structured HTML and CSS for visually appealing and seamless user experiences. With a keen eye
          for detail and a commitment to
          best practices, I bring a solid foundation in full-stack development. Eager to contribute my skills and
          passion for creating innovative software
          solutions in a dynamic team environment.</p>
      </div>

      <div class="exp_sec">
        <div class="button">Experience</div>
        <ul>
          <li>
            <div class="item">
              <div class="item_group">
                <p class="title">Swift Scale Technology</p>
                <p class="sub-title">Software Deveoper, Intern</p>
                <span class="timeline">2021-2022</span>
              </div>
              <p class="content">I learnt the basis of C#, .NET Core, Rest API. I also worked with the team that built the human resource
                management system.</p>
            </div>
          </li>

          <li>
            <div class="item">
              <div class="item_group">
                <p class="title">ALX-Africa</p>
                <p class="sub-title">Software Deveoper, Intern</p>
                <span class="timeline">2022-2023</span>
              </div>
              <p class="content">In ALX, I learnt the basics of programming and also got introduced to the different programming
                languages like C, Python, JavaScript, HTML,
                CSS, Bash, React and Git.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="edu_sec">
          <div class="button">Education</div>
          <ul>
            <li>
              <div class="item">
                <div class="item_group">
                  <p class="title">Ambrose Alli University, Ekpoma, Edo-State.</p>
                  <p class="sub-title">B.Sc Microbiology</p>
                  <span class="timeline">2019-2023</span>
                </div>
                <p class="content">I learnt the basis of C#, .NET Core, Rest API. I also worked with the team that built the human resource
                  management system.</p>
              </div>
            </li>
          </ul>
      </div>
    </div>
    <div class="resume_right">
      <div class="profile_sec">
        <div class="image_holder">
        </div>
        <div class="profile_info">
          <p class="firstname">Esther</p>
          <p class="lastname">Emmanuel</p>
          <p class="role">Mobile App Developer / Frontend Developer</p>

        </div>
      </div>
      <div class="contact_sec">
        <div class="button">Contact Me</div>
        <ul>
          <li class="item">
            <div class="icon">
              <i class="fas fa-phone"></i>
            </div>
            <div class="content">
              <p class="title">Phone No:</p>
              <p class="sub_title">08152345583</p>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="content">
              <p class="title">Email</p>
              <p class="sub_title">estherharriet2gmail.com</p>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <i class="fas fa-map-signs"></i>
            </div>
            <div class="content">
              <p class="title">Address</p>
              <p class="sub_title">Osho-drive street, Olodi-Apapa, Lagos-State</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="skills_sec">
        <div class="button">Skills</div>
        <ul>
          <li class="item">
            <div class="content">HTML/CSS</div>
            <div class="bar_wrap">
              <p class="bar" style="width: 100%;"></p>
            </div>
          </li>
          <li class="item">
            <div class="content">JAVASCRIPT</div>
            <div class="bar_wrap">
              <p class="bar" style="width: 90%;"></p>
            </div>
          </li>
          <li class="item">
            <div class="content">REACT</div>
            <div class="bar_wrap">
              <p class="bar" style="width: 85%;"></p>
            </div>
          </li>
          <li class="item">
            <div class="content">NODE JS</div>
            <div class="bar_wrap">
              <p class="bar" style="width: 90%;"></p>
            </div>
          </li>
          <li class="item">
            <div class="content">MONGO DB</div>
            <div class="bar_wrap">
              <p class="bar" style="width: 80%;"></p>
            </div>
          </li>
          <li class="item">
            <div class="content">GITHUB</div>
            <div class="bar_wrap">
              <p class="bar" style="width: 100%;"></p>
            </div>
          </li>
          <li class="item">
            <div class="content">SQL</div>
            <div class="bar_wrap">
              <p class="bar" style="width: 60%;"></p>
            </div>
          </li>
          <li class="item">
            <div class="content">EXPRESS</div>
            <div class="bar_wrap">
              <p class="bar" style="width: 80%;"></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

      <!-- </div>
    </div>
  </div> -->
  <!-- <script src="cordova.js"></script>
  <script src="js/jQuery.js"></script>
  <script src="js\app.min.js"></script>
  <script src="js/index.js"></script> -->
</body>




</html>